html {
  overflow: -moz-scrollbars-vertical;
}

body {
  background: #dbdee7;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  text-align: left;
  width: 400px;
  margin: auto;
}

header {
  display: flex;
  margin-top: 36px;
  height: 64px;
  justify-content: center;
}

header #title {
  color: #000000;
  text-decoration: none;
  margin: 0px;
  width: 100%;
  font-size: 40px;
}

.header_btn {
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #1a1a1a;
  font-size: 23px;
  background: #ffdbff;
  padding: 3px 11px 4px 11px;
  border: dotted #0e0f0f 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.hidden {
  visibility: hidden;
}

footer {
  margin-top: 20px;
  text-align: center;
}

#error_box {
  color: red;
  visibility: hidden;
}
#error_box::before {
  content: "Error: ";
}

ul {
  background: #3399ff;
  padding: 20px;
}

ul li {
  background: #cce5ff;
  margin: 5px;
}

.alert {
  color: red;
}

#items {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 35px;
  margin-top: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.icon {
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}

.column {
  float: left;
  padding: 10px;
  /*height: 300px; */
}

.column.left {
  width: 75%;
}

.column.right {
  width: 25%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}
.topnav {
  overflow: hidden;
  background-color: rgb(243, 73, 229);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgba(221, 221, 221, 0.623);
  color: rgb(229, 155, 207);
}

.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
  margin-top: 10;
}
